<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon-16.ico">

    <title>Grebball - Picks</title>
</head>

<body>
    <div class="content">
    <h1>Choix pour saison: <%= season %>, semaine: <%= week %></h1>

    <div class="container-sm">
    <form>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    <% matches.forEach((m) => { %>
        <div class="col">
        <div class="card">
            <div class="card-header">
                <img src="/teams/<%= m['awayTeam'] %>.png" width=40 height=40 />
                <img src="/teams/<%= m['homeTeam'] %>.png" width=40 height=40 />
            </div>

            <div class="card-body">
            <div class="form-check card-text">
                <input
                    class="form-check-input"
                    type="radio"
                    name="<%= m['idEvent'] %>"
                    id="<%= m['awayTeam'] %>"
                />
                <label class="form-check-label" for="<%= m['awayTeam'] %>">
                    <%= m['strAwayTeam'] %>
                </label>
            </div>
            <div class="form-check card-text">
                <input
                    class="form-check-input"
                    type="radio"
                    name="<%= m['idEvent'] %>"
                    id="<%= m['homeTeam'] %>" />
                <label class="form-check-label" for="<%= m['homeTeam'] %>">
                    <%= m['strHomeTeam'] %>
                </label>
            </div>
            </div>
        </div>
        </div>
    <% }); %>
    </div>
    </form>
    </div>
    </div>

</body>

</html>
