<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon-16.ico">

    <style>
        .fs-8 {
          font-size: 0.7rem; /* adjust the size as needed */
        }
        .no-pad {
            padding: 5px;
	    width: 150px;
        }
    </style>

    <title>Grebball - Picks</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Grebball - Choix</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            </ul>

            <div class="d-flex" role="user" style="padding-right: 1em">
            <span style="color: white">
                <img src="/teams/<%= favteam %>.png" width=60 height=60 />
                <%= username %>
            </span>
            </div>
            <div class="d-flex" role="user">
                <img class="img-fluid rounded-circle" src="<%= avatar %>" width=64 height=64 />
            </div>
        </div>
    </div>
</nav>

<main class="container">
<div class="bg-body-tertiary p-5 rounded">
    <span class="h2">Choix pour saison: <%= season %>, semaine: <%= week %></span>

    <form action="/submit" method="post">
    <input type="hidden" name="pickid" value="<%= pickid %>" />
    <input type="hidden" name="matchids" value="<%= matchids %>" />
    <input type="hidden" name="favteam" value="<%= favteam %>" />
    <input type="hidden" name="forcedid" value="<%= forcedid %>" />

    <div class="container my-4">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-2">

            <% matches.forEach((m) => { %>
            <div class="col">
                <div class="card h-100 border-<%= m.featured ? 'warning' : 'primary' %>">
                    <div class="card-header d-flex flex-column align-items-center">
                        <% if (m.featured) { %>
                            <span class="small text-muted display-date"><%= m['date'].toISOString() %></span>
                        <% } else { %>
                            <span class="small text-muted display-date"><%= m['date'].toISOString() %></span>
                        <% } %>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center gap-2 mt-2">
                            <!-- Away Team -->
                            <input type="radio" class="btn-check" name="<%=m['idEvent']%>" id="<%=m['awayTeam']%>" value="<%=m['awayTeam']%>"
                            <% if (favteam === m['awayTeam'] || favteam === m['homeTeam']) { %>
                                <% if (favteam === m['awayTeam']) { %> checked <% } else { %> disabled <% } %>
                            <% } %>>
                            <label class="btn btn-outline-<%= m.featured ? 'warning' : 'primary' %> d-flex flex-column align-items-center no-pad" for="<%=m['awayTeam']%>">
                                <img src="/teams/<%=m['awayTeam']%>.png" width="45" height="45">
                                <small class="text-muted text-center fs-8"><%= m['strAwayTeam']%></small>
                            </label>

                            <!-- @ Symbol -->
                            <span class="fs-4">@</span>

                            <!-- Home Team -->
                            <input type="radio" class="btn-check" name="<%=m['idEvent']%>" id="<%=m['homeTeam']%>" value="<%=m['homeTeam']%>"
                            <% if (favteam === m['awayTeam'] || favteam === m['homeTeam']) { %>
                                <% if (favteam === m['homeTeam']) { %> checked <% } else { %> disabled <% } %>
                            <% } %>>
                            <label class="btn btn-outline-<%= m.featured ? 'warning' : 'primary' %> d-flex flex-column align-items-center no-pad" for="<%=m['homeTeam']%>">
                                <img src="/teams/<%=m['homeTeam']%>.png" width="45" height="45">
                                <small class="text-muted text-center fs-8"><%= m['strHomeTeam']%></small>
                            </label>
                        </div>

                        <% if (m.featured) { %>
                            <hr class="w-100" style="margin: 5px 0px;">
                            <!-- Over/Under Section -->
                            <div class="text-center text-muted small">Total de <%= feat_val %>.5 points?</div>
                            <div class="btn-group w-100 mt-2" role="group">
                                <input type="radio"
                                    class="btn-check btn-outline-warning"
                                    name="feat_pick" id="PLUS" value="1">
                                </input>
                                <label
                                    class="btn btn-outline-warning d-flex flex-column align-items-center no-pad"
                                    for="PLUS"
                                >
                                    PLUS
                                </label>

                                <input type="radio"
                                    class="btn-check btn-outline-warning"
                                    name="feat_pick" id="MOINS" value="0">
                                </input>
                                <label
                                    class="btn btn-outline-warning d-flex flex-column align-items-center no-pad"
                                    for="MOINS"
                                >
                                    MOINS
                                </label>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>
    </div>

    <div class="container my-4 d-flex flex-column align-items-center">
        <button type="submit" class="btn btn-primary">Submit</button>
        <!--<small class="text-muted">Tous les choix doivent être remplis avant de soumettre</small>-->
    </div>
    </form>
</div>
</main>

<script src="/js/bootstrap.min.js"></script>
<script>
    document.querySelectorAll('.display-date').forEach(el => {
        const utcStr = el.textContent;
        const date = new Date(utcStr);

        // Optional: use toLocaleString or Intl.DateTimeFormat
        el.textContent = date.toLocaleString();  // or customized format
    });
</script>

</body>
</html>
